h3 {{list.title}}
div {{list.lastupdated}}
div(ng-repeat='item in list.items')
  p
    label(class='input-control checkbox')
      input(type='checkbox', ng-model='item.checked')
      span(class='check')
      span(class='caption') {{item.text}}
