extends layout

block body
  div
    h2 Lists
    ul
      li
        a(href='/') Home
      li
        a(href='/addList') Create a new list
      li
        div(class='input-control select')
          select(ng-model='form.template')
            option(ng-repeat='template in templates') {{template.title}}
          button(ng-click='addListFromTemplate()', class='button')
            Create new list from template
      li
        a(href='/addTemplate') Create a new template

    div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
