extends layout

block body
  div(class='container')
    header(class='margin20 no-margin-left no-margin-right')
      h2 Lists
      ul
        li
          a(href='/') Home
        li
          a(href='/templates') Templates
    div(ng-view, class='main-content clear-float')
    footer
      span (C) Copyright David Ragsdale 2015

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
