extends layout

block body
  div(class='container')
    header(class='margin20 no-margin-left no-margin-right')
      div(class='clear-float')
        a(class='place-left', href='/', title='true')
          h1 Lists
      div(class='main-menu-wrapper')
        ul(class='horizontal-menu', style='margin-left: -20px')
          li
            a(href='/') Home
          li
            a(href='/templates') Templates
    div(ng-view, class='main-content clear-float')
    footer(class='bg-grayLight padding20 margin20 no-margin-right no-margin-bottom no-margin-left')
      span &copy; 2015 David Ragsdale

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
