!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title GreyList
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/metro.css')
    link(rel='stylesheet', href='/css/metro-icons.css')
    link(rel='stylesheet', href='/css/metro-custom.css')
    script(src='js/lib/metro/jquery.js')
    script(src='js/lib/metro/metro.js')
  body
    block body